@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.container header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 35px;
    margin-bottom: 35px;
}

.container header nav {
    gap: 125px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container header nav ul {
    gap: 50px;
    display: flex;
}

.container header nav ul li {
    list-style: none;
}

.container header nav ul li a {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    transition: .6s ease-in-out;
    text-decoration: none;
    z-index: 1;
    position: relative;
}

.container header nav ul li a::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: .3s ease-in-out;
}

.container header nav ul li a:hover::after {
    width: 70%;
}

.container header nav span {
    width: auto;
    height: auto;
    cursor: pointer;
}

.container header nav span img {
    width: auto;
    height: auto;
}

.container header nav button {
    width: auto;
    height: auto;
    padding: 15px 30px;
    border-radius: 6px;
    border: 1px solid transparent;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: .6s ease;
    cursor: pointer;
    background-color: var(--secondary-color);
}

.container header nav button:hover {
    background-color: var(--secondary-color-dark);
}

/* 1 Sección */
.section1 {
    gap: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 100px 0px 100px;
    justify-content: center;
    align-items: center;
}

.description-gym {
    width: 565px;
    height: 395px;
}

.bg__blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--secondary-color);
    z-index: -1;
}

.header__blur {
    bottom: 5rem;
    right: 15rem;
}

.section1::before {
    content: "FITNESS";
    position: absolute;
    bottom: 11rem;
    left: 34rem;
    font-size: 10rem;
    font-weight: 700;
    line-height: 7rem;
    color: var(--white);
    opacity: 0.05;
    z-index: -1;
}

.description-gym sub {
    color: var(--secondary-color);
    font-size: 19px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 20px;
    text-transform: uppercase;
}

.description-gym h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--white);
}

.description-gym h1 {
    color: var(--white);
    font-size: 80px;
    font-weight: 700;
    text-align: start;
    line-height: 1.2;
    text-transform: uppercase;
}

.description-gym p {
    color: var(--white);
    font-size: 16px;
    font-weight: 300;
    text-align: start;
    margin: 0px 0px 40px;
}

.description-gym a {
    width: auto;
    padding: 15px 30px;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: .6s ease-in-out;
    text-decoration: none;
    background-color: var(--secondary-color);
}

.description-gym a:hover {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

.image-gym {
    width: 569px;
    height: auto;
    position: relative;
    z-index: 1;
}

.image-gym::before {
    content: 'o';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--secondary-color);
    opacity: 0.1;
    z-index: -1;
}

.image-gym figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gym figure img {
    width: 350px;
    height: 550.81px;
}

/* 2 Sección */
.section2 {
    width: 100%;
    height: auto;
    display: flex;
    padding: 100px 0px 120px;
    justify-content: center;
    align-items: center;
}

.container-explore {
    width: 1300px;
    height: auto;
}

.description-explore {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 85px;
}

.description-explore h1 {
    color: var(--white);
    font-size: 36px;
    font-weight: 600;
    text-align: start;
    text-transform: uppercase;
}

.botones {
    width: 112px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.botones span {
    width: 40px;
    height: 39px;
    padding: 0 6px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s ease;
}

.botones span box-icon {
    width: 24px;
    height: 24px;
    transition: .6s ease;
}

.botones span:hover  {
    border: 2px solid var(--secondary-color-dark);
}

.container-now {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 268px;
    height: 276px;
    color: #000000;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: .6s ease-in-out;
    box-sizing: border-box;
    box-shadow: -15px -15px 15px rgba(255, 255, 255,0.1),
                15px   15px  16px rgba(255, 255, 255,0.1);
    background-color: var(--primary-color-light);
    border: 2px solid transparent;
}

.card span {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 2px 9px;
    margin: 0px 0px 20px;
    background-color: var(--secondary-color-dark);
}

.card span box-icon {
    width: 24px;
    height: 24px;
}

.card h1 {
    color: var(--white);
    font-size: 19.2px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 6px;
}

.card p {
    color: var(--white);
    font-size: 16px;
    font-weight: 300;
    text-align: start;
    margin: 0px 0px 16px;
}

.card:hover {
    border: 2px solid var(--secondary-color);
    box-shadow: -15px -15px 15px rgba(249, 172, 84, 0.3),
                15px   15px  15px rgba(249, 172, 84, 0.2);
}

.join {
    gap: 5px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .6s ease;
}

.join p {
    color: var(--white);
    font-size: 16px;
    font-weight: 300;
    text-align: start;
    margin: 0;
    padding: 0;
    transition: .6s ease;
}

.join box-icon {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    transition: .6s ease;
}

.join:hover p,
.join:hover box-icon {
    color: #d79447;
}

/* 3 Sección */
.section3 {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 100px 0px 100px;
    justify-content: center;
    align-items: center;
}

.container-class {
    width: 1220px;
    max-width: 60%;
    height: 489px;
    display: flex;
    justify-content: space-between;
}

.image-class {
    width: 558px;
    height: auto;
    position: relative;
}

.image-class figure {
    width: 100%;
    height: 429px;
}

.class1 {
    width: 500px;
    height: 333.33px;
    position: relative;
}

.class2 {
    width: 300px;
    height: 171.5px;
    position: relative;
    bottom: 86.5px;
}

.description-class {
    width: 100%;
    max-width: 50%;
    height: auto;
}

.description-class h1 {
    max-width: 70%;
    color: var(--white);
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    line-height: 1.4;
    margin: 0px 0px 10px;
    text-transform: uppercase;
}

.description-class p {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    margin: 0px 0px 50px;
}

.description-class a {
    padding: 13px 30px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    text-transform: capitalize;
    transition: .6s ease;
    border: 1px solid transparent;
    background-color: var(--secondary-color);
}

.description-class a:hover {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

/* 4 Sección */
.section4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 150px;
}

.container-join {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.description-join {
    width: 100%;
    height: auto;
    margin: 0px 0px 40px;
    text-align: center;
}

.description-join h1 {
    color: var(--white);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 0px 0px 10px;
    text-transform: uppercase;
}

.description-join p {
    color: var(--white);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.container-personal {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-personal figure {
    width: 100;
    height: 100%;    
}

.container-personal figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container-benefit {
    width: 1104px;
    height: 151px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    position: absolute;
    bottom: -5rem;
    box-shadow: -10px -10px 10px rgba(255, 255, 255,0.2),
                20px  20px  20px rgba(255, 255, 255,0.1);
    background-color: var(--primary-color-light);
}

.card-benefit {
    gap: 1rem;
    width: 325.33px;
    height: 87px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-benefit span {
    width: 100%;
    max-width: 52px;
    height: auto;
    min-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 2px 9px;
    margin: 0px 0px 20px;
    position: relative;
    top: 10px;
    background-color: var(--secondary-color-dark);
}

.card-benefit span box-icon {
    width: 28px;
    height: 28px;
}

.description-benefit {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.card-benefit h4 {
    color: var(--white);
    font-size: 19.2px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 2px;
}

.card-benefit p {
    color: var(--white);
    font-weight: 300;
    text-align: start;
}

.section5 {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 100px 0px 86px;
    justify-content: center;
    align-items: center;
}

.container-plan {
    width: 1200px;
    height: auto;
    border: 1px solid #000;
}

.title-plan {
    width: 100%;
    height: auto;
    margin: 0px 0px 64px;
}

.title-plan h1 {
    color: var(--white);
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0px 16px;
}

.title-plan p {
    margin: auto;
    max-width: 600px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.container-cards-plan {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-plan {
    width: 368px;
    height: auto;
    border: 1px solid transparent;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--primary-color-light);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card-plan:hover {
    transform: rotateY(10deg) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-plan:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255,0.1);
    border: 1px solid var(--secondary-color);
}

.card-content {
    gap: 20px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.card-content h4 {
    color: var(--white);
    font-size: 19.2px;
    font-weight: 600;
    text-align: start;
}

.card-content h3 {
    color: var(--white);
    font-size: 32px;
    font-weight: 600;
    text-align: start;
    position: relative;
    margin-bottom: 25px;
}

.card-content h3::before {
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -15px;
    position: absolute;
    background-color: var(--white);
}

.check {
    gap: 10px;
    width: 100%;
    height: auto;
    display: flex;
    cursor: pointer;
    justify-content: start;
    align-items: center;
}

.check box-icon {
    width: 19.2px;
    height: 19px;
}

.check p {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

.card-plan button {
    width: auto;
    height: auto;
    padding: 16px 32px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: .6s ease-in-out;
}

.card-plan button:hover {
    color: var(--white);
    background-color: var(--secondary-color);
}

/* Section 6 */
.section6 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px;
    background-color: var(--primary-color-light);
}

.container-member {
    gap: 30px;
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.container-member span {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.container-member span box-icon {
    width: 96px;
    height: 96px;
    position: relative;
    bottom: 30%;
}

.container-description-member {
    width: 90%;
    height: auto;
}

.container-description-member h4 {
    color: var(--white);
    font-size: 20.6px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 16px;
    text-transform: uppercase;
}

.container-description-member p {
    max-width: 800px;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    margin: 0px 0px 32px;
}

.stars {
    gap: 3px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    margin-bottom: 70px;
}

.stars box-icon {
    width: 24px;
    height: 24px;
}

.container-jane { 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-jane {
    gap: 20px;
    width: auto;
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
}

.description-jane img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
}

.name {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.name h4 {
    color: var(--white);
    font-size: 20.8px;
    font-weight: 600;
    text-align: start;
    margin: 0;
    line-height: 1.5;
}

.name p {
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    text-align: start;
}

.arrows {
    gap: 20px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows box-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}











































.section7 {
    width: 100%;
    height: 50vh;
    background-color: white;
}